{{define "description"}}
<h2>Prevent short link services from tracking you</h2>
<div id="features">
    <div><img src="/static/img/cookie.svg"><br>Remove cookies</div>
    <div><img src="/static/img/search.svg"><br>Remove tracking parameters</div>
    <div><img src="/static/img/warning.svg"><br>Check blacklist</div>
</div>
{{end}}
{{define "action"}}
<h3>Directly redirect</h3>
<div class="form">
    <input type="url" id="urlDirect"
        placeholder="https://bit.ly/2PmsA00"> <button id="unshortDirectButton">Unshort &amp;
        Redirect</button>
</div>
<h3>Show the redirect url first</h3>
<div class="form">
        <input type="url" id="urlShow"
        placeholder="https://bit.ly/2PmsA00"> <button id="unshortShowButton">Unshort &amp; Show</button>
</div>
<script>
    let buttonDirectElement = document.getElementById("unshortDirectButton");
    let urlDirectElement = document.getElementById("urlDirect");
    buttonDirectElement.addEventListener("click", function () {
        if (urlDirectElement.value != "") {
            window.location.href = "https:\/\/unshort.link/" + urlDirectElement.value;
            return
        }
        window.location.href = "https:\/\/unshort.link/https://bit.ly/2PmsA00";
    });
    let buttonShowElement = document.getElementById("unshortShowButton");
    let urlShowElement = document.getElementById("urlShow");
    buttonShowElement.addEventListener("click", function () {
        if (urlShowElement.value != "") {
            window.location.href = "https:\/\/unshort.link/d/" + urlShowElement.value;
            return
        }
        window.location.href = "https:\/\/unshort.link/d/https://bit.ly/2PmsA00";

    });
</script>
{{end}}
{{ define "notes" }}
<div>Supports TinyURL, Bit.ly, Tiny.cc, T.co, Goo.gl and many more </div>
{{end}}