<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Unshort.link- Free link unshort service</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css">
    <link rel="prefetch">
</head>

<body>
    <header>
        <div class="top-banner">
            <h1 class="top-banner-title">unshort.link</h1>
            <p class="top-banner-subtitle">Prevent short link services from tracking you.</p>

            {{ template "action" .}}

            {{ if .LinkCount}}
                <div id="stats" class="stats">{{.LinkCount}} links protected so far</div>
            {{end}}
        </div>
    </header>
    <main>
        <div class="features">
            <div class="row">
                {{ template "description" .}}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            {{ template "notes" .}}
        </div>
    </footer>
</body>
</html>
