            <style>
                #loadingSpinner{
                    display:none;
                }
            </style>

            {{ template "action" .}}

            {{ if .LinkCount}}
                <div id="stats" class="stats"> more than {{.LinkCount}} links protected so far</div>
            {{end}}    
       </div>
    <main>
        <div class="features">
            <div class="row">
                {{ template "description" .}}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            {{ template "notes" .}}
            <div class="footer-links row">
    <div class="col-sm-3">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/unshort-link/">
            <div class="footer-link">
                <i class="icon-firefox"></i>
                <p>Firefox</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://chrome.google.com/webstore/detail/unshortlink-free-link-uns/neigokajpjlcgjddjbkngpkmjgdgmcch">
            <div class="footer-link">
                <i class="icon-chrome"></i>
                <p>Chrome</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://github.com/simonfrey/unshort.link/">
            <div class="footer-link">
                <i class="icon-branch"></i>
                <p>Source code</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://github.com/simonfrey/unshort.link/tree/master/LICENSE.md">
            <div class="footer-link">
                <i class="icon-scroll"></i>
                <p>License</p>
            </div>
        </a>
    </div>
</div>
        </div>
    </footer>
</body>
</html>
