{{define "description"}}
<div class="redirect-container">
    <div class="container flex-center" style="flex-direction: column; margin-bottom: 2rem">
        <h2>Redirect</h2>
        <i class="icon-globe"></i>
    </div>
    <div style="text-align: center">
        <p>You are about to redirect to<br>
        <a href="{{.LongUrl}}">{{.LongUrl}}</a>
        </p>

        <p>Are you sure you want to redirect?</p>
        <button class="btn btn-lg btn-primary" type="submit" id="buttonRedirect">
        redirect
        </button>
        <script>
            let buttonRedirect = document.getElementById("buttonRedirect");
            buttonRedirect.addEventListener("click", function () {
                window.location.href = "{{.LongUrl}}";
            });
        </script>
    </div>
</div>
{{end}}
{{define "action"}}
{{end}}
{{ define "notes" }}
{{end}}
