{{define "description"}}

{{end}}
{{define "action"}}
    {{if .DirectRedirect}}
        <meta http-equiv="refresh" content="0; url={{.LongUrl}}" />
    {{end}}
    <div style="text-align: center" class="w-100">
      <p>You got here because you opened the short url<br>
        <a href="{{.ShortUrl}}">{{.ShortUrl}}</a>
        </p>
        <a href="{{.LongUrl}}" class="btn btn-lg btn-primary" type="submit" id="buttonRedirect">
        Redirect to<br><span>{{.LongUrl}}</span>
        </a>
        <small id="editNote">Click longer on the button to edit link</small>
        <textarea id="redirectLinkTextArea" class="btn-lg btn-primary">{{.LongUrl}}</textarea>
    </div>

    <script>
        let linkText = document.getElementById("redirectLinkTextArea");
        let linkButton = document.getElementById("buttonRedirect");
        let editNote = document.getElementById("editNote");
        var pressTimer;
       linkButton.onpointerup = function(){
            clearTimeout(pressTimer);
        };
        linkButton.onpointerdown = function(){
            pressTimer = window.setTimeout(function() {
                linkText.style.display="block";
                linkButton.style.display="none";
                editNote.style.display="none";
            },600);
        };

    </script>
{{end}}
{{define "notes"}}
  <a href="mailto:unshortfeedback@simon-frey.eu?subject=Unshort.link%20Feedback&body={{.FeedbackBody}}" id="linkProblem" class="btn btn-secondary">Feedback?</a>
{{end}}
