i[class*="icon"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}

i.logo {
  display: inline-block;
  flex-shrink: 0;
  width: 128px;
  height: 128px;
  background-size: 128px 128px;
  background-image: url(/static/icons/unshortlink.svg);
}
i.icon-cookie {
  background-image: url(/static/icons/cookie-bite.svg);
}
i.icon-shield {
  background-image: url(/static/icons/user-shield.svg);
}
i.icon-warning {
  background-image: url(/static/icons/exclamation-triangle.svg);
}
i.icon-warning-red {
   background-image: url(/static/icons/exclamation-triangle-red.svg);
 }
i.icon-scroll {
  background-image: url(/static/icons/scroll.svg);
}
i.icon-branch {
  background-image: url(/static/icons/code-branch.svg);
}
i.icon-firefox {
  background-image: url(/static/icons/firefox.svg);
}
i.icon-firefox-black {
  background-image: url(/static/icons/firefox_black.svg);
}
i.icon-chrome {
  background-image: url(/static/icons/chrome.svg);
}
i.icon-chrome-black {
  background-image: url(/static/icons/chrome_black.svg);
}
i.icon-globe {
  background-image: url(/static/icons/globe.svg);
}
