html{
    background-color:#fafafa;
    color:#202020;
    font-family: "Roboto";


}
body{
   
    line-height: 1.2em;
}

h1,h2,h3{
    padding:0.5em;
    padding-left: 0;
    width:100%;
    text-align: center;
}
h1{
    font-size: 3em;
    line-height: 1em;

}
h2{
    font-size: 2em;
    line-height: 1em;

}
h3{
    font-size: 1.5em;
    line-height: 1em;

}

input, button{
    border-radius: 0;
    padding:0.4em;
    margin:0;
    border:none;
   font-size: 1.2em;

}

input{
    background:none;
    border:1px solid #007aff;
    color:#007aff;
}

.form{
    display: flex;
    justify-content: center;
}

#label{
    display:inline-block;
    text-align: right;
}
button{
    background-color:#007aff;
    color:#FFF;
}

button:hover{
    transform: scale(0.97);
}

a{
    color:#000;
    font-weight: bold;
}
a:visited{
    color:#000;
    font-weight: bold;
}

input:focus{
    transform: scale(0.97);
}

#action{

    background-color:#FFF;
    color:#007aff;
    padding:1em;
    margin:1em;
}

#notes{
    text-align: center;
}

main,footer{
    font-size: 1.2em;

    max-width: 1200px;
	margin: 0 auto;
    width:96%;
    padding:2%;
}
main{
    min-height: 60vh;
}
main a, main a:visited{
    color:#007aff;
}

header{
    width:100%;
    text-align: left;
    background-color:#007aff;
    color:#FFF;
    font-size: 1.2em;
    padding:1em;
}
header >div{

    max-width: 1200px;
	margin: 0 auto;
    width:100%;
}
header > div > div{
    width:49%;
    min-width: 300px;
    display: inline-block;
}

header #plugins{
    text-align: right;
}
header img, footer img{
    height:1em;
}

footer{
    font-size: 0.9em;
    height:3em;
    text-align: center;
}

footer div{
    display: inline-block;
    padding:0.2em;
}

footer #stats{
    display: block;
    width:100%;
    text-align: center;
}
hr{
    border:none;
    height: 1px;
    background-color:#FFF;
}

#features{
    display: flex;
    justify-content: center;
}

#features div{
    text-align: center;
    float: 1;
    padding:1em;
}

#features div img{
 height:3em;
}


#description img{
    height:5em;
    margin:auto;
    display:block;
    padding:1em;
}

#title a,#title a:visited{
    color:#FFF;
    text-decoration: none;
    font-weight: normal;
}