:root {
    --color-1: #239bac;
    --color-2: #73d9e4;
}

html, body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: Tahoma, Geneva, sans-serif
}

div.top-banner {
    width: 100%;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;

    color: white;
    text-align: center;

    box-shadow: 0px 2px 4px -1px    rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px  rgba(0, 0, 0, 0.12);
    transition: 140ms box-shadow;

    background: linear-gradient(160deg, var(--color-1), var(--color-2));
    background-size: 400% 400%;
    
    -webkit-animation: gradient-animation 30s ease infinite;
    -moz-animation: gradient-animation 30s ease infinite;
    animation: gradient-animation 30s ease infinite;
}

.top-banner-title {
    font-weight: 500;
    font-size: 3.5em;
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.top-banner-subtitle {
    font-size: 1.5em;
}

div.link-form {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
}

div.link-form div.input-group {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

div#action input[placeholder] {
    flex: 1 1 auto;
}

div.stats {
    font-size: 1.25em;
}

div.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    margin: 3em 0em;
}

div.features div.row {
    width: 70%;
}

div.features div.feature-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3em 0em;
}

div.feature-element div.feature-icon {
    font-size: 4em;
}

div.feature-element div.feature-icon svg {
    height: 38px;
    width:  38px;
}

div.features div.feature-element h2 {
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

div.features div.feature-element p {
    font-size: 1.25em;
    width: 80%;
}

div.footer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    text-align: center;
}

div.footer-links {
    display: flex;
    flex-direction: row;
}

div.footer-link {
    margin: 0.5em;
    width: 8em;
    height: 8em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

a div.footer-link * {
    color: var(--color-1);
    transition: color 140ms;
}

a:hover div.footer-link * {
    color: var(--color-2);
    cursor: pointer;
}

div.footer-link i {
    font-size: 3em;
    margin-top: 10px;
}

@-webkit-keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}