@font-face {
    font-family: 'AdventPro';
    src: url('/static/fonts/adventpro.woff') format('woff');
}

html, body {
    display: flex;
    flex-direction: column;
    font-size: calc((12px + 0.4vw));
    background-color: #0a0a1e;
}

* {
    font-family: 'AdventPro', Tahoma, Geneva, sans-serif;
}
a {
    color:#FFF;
    outline: none;
}
a:hover {
    color: #cba924;
}

div.top-banner {
    width: 100%;
    height: 100vh;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;

    color: white;
    text-align: center; 
}

.top-banner-title {
    font-weight: 500;
    font-size: 3.5rem;
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.top-banner-subtitle {
    font-size: 1.5rem;
}

div.link-form {
    width: 40%;
    min-width: 240px;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

div.link-form * {
    margin: 0.25rem 0;
}

div.stats {
    font-size: 1.25rem;
}

div.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    color: #fff;

    margin: 3rem 0;
}

div.features div.row {
    width: 70%;
}

div.features div.feature-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

div.feature-element div.feature-icon {
    font-size: 3rem;
}

div.features div.feature-element h2 {
    font-family: sans-serif;
    font-weight: bold;
}

div.features div.feature-element p {
    font-size: 1.25rem;
    width: 80%;
}

div.footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    text-align: center;
}

div.footer-links {
    display: flex;
    flex-direction: row;
}

div.footer-link {
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

div.footer-link i {
    font-size: 1.75rem;
    margin-top: 10px;
}

div.footer-links.row div {
    padding-left: 0;
    padding-right: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.redirect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

div.redirect-container a {
    font-size: 1.2rem;
}

div#action * {
    margin:0;
}

div#action #urlDirect {
    border-radius:0.25rem 0px 0px 0.25rem;
}

div#action #unshortDirectButton {
    border-radius:0px 0.25rem 0.25rem 0px;
}

div#headerLinks {
    background-image: linear-gradient(to right top, #da892f, #d69529, #d0a024, #c9ac24, #c0b728);
    color: #000;
    padding:0.5em;
    margin:0.5em;
    border-radius: 15px;
    transition: ease-out .1s;
}

div#headerLinks:hover {
    scale: 105%;
    transition: ease-in .1s;
}

div#headerLinks i[class*="icon"] {
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
}

p#gt-browser {
    font-weight: bold;
}

#buttonRedirect {
    max-width: 800px;
    word-break: break-all;
    display: block;
    margin:auto;
}

#blacklisted h2, #blacklisted i {
    color:red;
}

.btn-primary {
    color: #000;
    background-color: #cca724;
    border-color: #cca724;
}

.btn-primary:hover,
.btn-primary:focus, .btn-primary:active {
    color: #000 !important;
    background-color: #d69629 !important;
    border-color: #d69629 !important;
    box-shadow: none !important;
}

.btn-red {
    background-color:red;
}

#linkProblem {
    position: fixed;
    right:5px;
    bottom:5px;
}

#error h2 {
    color:red;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

#loadingSpinner {
    width:100%;
    max-width: 214px;
    position: relative;
    text-align: center;
}

#loadingSpinner img {
    width: 100%;

}

#loadingSpinner #loadingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#redirectLinkTextArea{
    width:100%;
    max-width: 800px;
    word-break: break-all;
    text-align: center;
    display: none;
    margin:auto;
}

@-webkit-keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

@-moz-keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

@keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

@media screen and (max-width: 555px) {
    div.footer-links.row div {
        display: flex;
        justify-content: center;
    }
    div#action #urlDirect{
        border-radius:0.25rem 0.25rem 0px 0px;
    }
    
    div#action #unshortDirectButton{
        border-radius:0px 0px 0.25rem 0.25rem;
    }
}

@media screen and (min-width: 556px) {
    div.top-banner {
        height: initial;
    }

    div#action input[placeholder] {
        flex: 1 1 auto;
    }

    div.link-form {
        flex-direction: row;
        justify-content: center;
    }

    div.link-form * {
        margin: 0 0.25rem;
    }

    div.features div.feature-element {
        margin: 2rem 0;
    }

    div.footer {
        height: 10vh;
    }

    div.footer-link {
        width: 8rem;
        height: 8rem;
    }
}
