:root {
    --color-1: #239bac;
    --color-2: #73d9e4;
}

html, body {
    display: flex;
    flex-direction: column;
    font-size: calc((12px + 0.4vw));
}

* {
    font-family: Tahoma, Geneva, sans-serif
}

div.top-banner {
    width: 100%;
    height: 100vh;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;

    color: white;
    text-align: center;

    box-shadow: 0px 2px 4px -1px    rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px  rgba(0, 0, 0, 0.12);
    transition: 140ms box-shadow;

    background: linear-gradient(160deg, var(--color-1), var(--color-2));
    background-size: 400% 400%;
    
    -webkit-animation: gradient-animation 30s ease infinite;
    -moz-animation: gradient-animation 30s ease infinite;
    animation: gradient-animation 30s ease infinite;
}

.top-banner-title {
    font-weight: 500;
    font-size: 3.5rem;
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.top-banner-subtitle {
    font-size: 1.5rem;
}

div.link-form {
    width: 40%;
    min-width: 240px;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

div.link-form * {
    margin: 0.25rem 0;
}

div.stats {
    font-size: 1.25rem;
}

div.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    margin: 3rem 0;
}

div.features div.row {
    width: 70%;
}

div.features div.feature-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

div.feature-element div.feature-icon {
    font-size: 3rem;
}

div.features div.feature-element h2 {
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

div.features div.feature-element p {
    font-size: 1.25rem;
    width: 80%;
}

div.footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    text-align: center;
}

div.footer-links {
    display: flex;
    flex-direction: row;
}

div.footer-link {
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

a div.footer-link * {
    color: var(--color-1);
    transition: color 140ms;
}

a:hover div.footer-link * {
    color: var(--color-2);
    cursor: pointer;
}

div.footer-link i {
    font-size: 1.75rem;
    margin-top: 10px;
}

div.footer-links.row div {
    padding-left: 0;
    padding-right: 0;
}

@-webkit-keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

@-moz-keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

@keyframes gradient-animation {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

@media screen and (max-width: 555px) {
    div.footer-links.row div {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 556px) {
    div.top-banner {
        height: initial;
    }

    div#action input[placeholder] {
        flex: 1 1 auto;
    }

    div.link-form {
        flex-direction: row;
        justify-content: center;
    }

    div.link-form * {
        margin: 0 0.25rem;
    }

    div.features div.feature-element {
        margin: 2rem 0;
    }

    div.footer {
        height: 10vh;
    }

    div.footer-link {
        width: 8rem;
        height: 8rem;
    }
}