name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

 #   - name: Get dependencies
 #     run: |
 #       go get -v -t -d ./...
 #       if [ -f Gopkg.toml ]; then
 #           curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
 #           dep ensure
 #       fi
   
    - name: Generate
      run: |
        export PATH=${PATH}:`go env GOPATH`/bin
        go generate ./...
    - name: Build
      run: |
        cd server
        go build .
    - name: Test
      run: |
        cd server
        go test ./...
    - name: Vet
      run: |
        cd server
        go vet ./...

